<!-- <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Ofertas de Crédito en solo 3 pasos
        </span>
  
        <div class="wrap-input100 m-b-25">
  
          <select class="input100 select" name="" >
            <option value="">¿Cuanto Necesitas?</option>
            <option value="">S/100</option>
            <option value="">S/150</option>
          </select>
          <span class="focus-input100"></span>
        </div>



        <div class="wrap-input100 m-b-25">
            <select class="input100" name="" >
            <option value="">¿En que plazo?</option>
            <option value="">1 Mes</option>
            <option value="">48 Meses</option>
          </select>
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Solicitar Crédito <img src="assets/css/dropdown-btn.png" alt="" style="
            margin: 0px 8px;        ">
          </button>
        </div>
        <div class="flex-c p-b-112">
          <a href="#" class="login100-social-item">
            <i class="fa fa-facebook-f"></i>
          </a>
  
          <a href="#" class="login100-social-item">
            <img src="assets/images/icons/icon-google.png" alt="GOOGLE">
          </a>
        </div>
  
        <div class="text-center">
          <a href="#" class="txt2 hov1">
            Sign Up
          </a>
        </div>
      </form>
  
    </div>
   -->
  
    <!-- Ingresos -->
  
<!--     <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Hola, Cuentanos sobre ti.
        </span>
  
  
  
        <div class="wrap-input100  m-b-20" style="display: flex;">
  
          <select class=" input100 " style="  width: 50%;  border-right: 1px solid; ">
            <option value="">DNI</option>
            <option value="">CE</option>
          </select>
          <input type="text" class=" input100" placeholder="Fecha de Nacimiento">
          <span class="focus-input100"></span>
        </div>
  
        <div class="wrap-input100 m-b-25">
  
          <select class="input100" name="" >
            <option value="">Ingreso mensuales</option>
            <option value="">Entre S/1000 a S/2000</option>
            <option value="">Entre S/2100 a S/2500</option>
          </select>
          <span class="focus-input100"></span>
        </div>
  
        <div class="wrap-input100 m-b-25">
  
          <select class="input100" name="" >
            <option value="">Departamento</option>
            <option value="">Lima</option>
            <option value="">Lima</option>
          </select>
          <span class="focus-input100"></span>
        </div>
  
        <div class="wrap-input100 m-b-25">
          <select class="input100" name="" >
            <option value="">Distrito</option>
            <option value="">Lima</option>
            <option value="">Cañete</option>
          </select>
          <span class="focus-input100"></span>
        </div>
  
  
        <div class="wrap-input100  m-b-25">
          <input class="input100 " type="text" name="pass" placeholder="Distrito">
          <span class="focus-input100"></span>
        </div>
  
  
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Solicitar Crédito >
          </button>
        </div>
        <div class="flex-c p-b-112">
          <a href="#" class="login100-social-item">
            <i class="fa fa-facebook-f"></i>
          </a>
  
          <a href="#" class="login100-social-item">
            <img src="assets/images/icons/icon-google.png" alt="GOOGLE">
          </a>
        </div>
  
        <div class="text-center">
          <a href="#" class="txt2 hov1">
            Sign Up
          </a>
        </div>
      </form>
  
  
    </div> -->
  
    <!--  cambio de presupuesto -->
  <!--   <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          Haz Una nueva Solicitud
        </span>
        <div class="wrap-input100 m-b-25">
          <select class="input100" name="" >
            <option value="">¿Cuanto Necesitas?</option>
            <option value="">S/100</option>
            <option value="">S/150</option>
          </select>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-25">
  
          <select class="input100" name="" >
            <option value="">¿En que plazo?</option>
            <option value="">1 Mes</option>
            <option value="">48 Meses</option>
          </select>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-25">
          <p class="text">Oops</p>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Cambiar Simulación >
          </button>
        </div>
  
  
  
      </form>
  
    </div>
   -->
  
 <!--  </div>
  
  
  
  <div id="dropDownSelect1"></div> -->